<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="urlaccess.component.css" rel="stylesheet">
</head>
<body>
<div id="wb_layGrd1">
<div id="layGrd1">
<div class="row">
<div class="col-1">
<label for="" id="lblDashboard" style="display:block;width:100%;line-height:27px;z-index:0;">DASHBOARD</label>
</div>
</div>
</div>
</div>
<div id="wb_layGrd2">
<div id="layGrd2">
<div class="row">
<div class="col-1">
</div>
<div class="col-2">
<div id="FlexContainer4">
<input type="button" id="btnSettings" name="" value="Settings" (click)="settingsPage()"
style="display:block;width:168px;height:42px;z-index:1;">
</div>
</div>
</div>
</div>
</div>
<div id="flxCont1">
<div id="flxCont2">
<input type="button" id="btnBilling" name="btnBilling" value="Billing" style="display:block;width:182px;height:42px;z-index:4;">
<label for="" id="Label2" style="display:block;width:182px;height:24px;height:24px;line-height:16px;z-index:5;"></label>
<input type="button" id="btnParticipantAdmin" name="btnParticipantAdmin" value="Participant Administration" style="display:block;width:182px;height:42px;z-index:6;">
</div>
<div id="flxCont3">
<input type="button" id="btnSavedReports" name="btnReports" value="Reports - Saved Reports" style="display:block;width:177px;height:42px;z-index:7;">
<label for="" id="Label4" style="display:block;width:177px;height:24px;height:24px;line-height:16px;z-index:8;"></label>
<input type="button" id="btnProdLab" name="btnProductivitylab" value="Productivity Lab" style="display:block;width:177px;height:42px;z-index:9;">
</div>
</div>
</body>
</html>